/* Comentário em CSS
.cabecalho h1{
    font-size: 24px;
    color: #333;
    background-color: red!important;
} 
h1{
    color:red;
}  
.link{
    display: inline;
    margin: 5%;
} */
.cabecalho{
    background-color: blue;
}

.h1, h2{
    font-family: sans-serif;
}
.link{
    font-weight: bold;
}
.container{
    margin: 20px;
}
#conteudo{
    line-height: 1.5;
}